h1{
    color: blue;
}

h2{
    color: purple;
}

h3{
    color: brown;
}

h1:hover{
    background-color: black;
}

h2:hover{
    background-color: black;
}

h3:hover{
    background-color: black;
}

p{
    color:black
}
