body{
   background-color: lightgray;
}

.div_1{
   background-color: bisque;
   display: inline;
   border: 2px solid blue;
   position: relative;
   margin: 500px;
   text-align: center;
   width: 200px;
}
 h1{
  color: green;
  background-color: bisque;
  display: inline;
  border: 2px solid blue;
  position: relative;
  margin: 500px;
  text-align: center;
  width: 200px;
  block-size: 400px;
 }

.img_1{
    width:150px;
    text-align: center;
    top: -15px;
 }



.div_2{
    display: inline;
    position: fixed;
    background-color: lightblue;
    
    top: -100px;
    left: 100px;
    text-align: center;
 }

 #h2{
    text-align: center;
 }

.p1{
   color: purple;
   font-size: 20pt;
}

#div_3{
   display: inline;
   width: 600px;
   height: 450px;
}