
#div_1{
    background-color: bisque;
     display: inline;
     border: 2px solid blue;
     position: relative;
     font-size: 75px;
     margin: 500px;
     text-align: center;
    
}

.img_1{
    width:150px;
    text-align: center;
    top: -15px;
 }



.div_2{
    display: inline;
    position: relative;
    top: -100px;
    left: 100px;
    text-align: center;
 }

 #h1{
    text-align: center;
    padding-left: 100px;
    left:200px
    
 }